*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #505050;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  min-width: 360px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* header */
header,
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  margin-right: auto;
  margin-left: 0.25rem;
}

header {
  padding: 1.25em;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #090909;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1.5em;
}

/* hero */
.featured-blog {
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.875em;
}

.featured-blog-title,
.featured-blog-summary {
  padding-right: 1em;
}

.featured-blog-title {
  font-size: 2rem;
}

.featured-date {
  font-size: 0.75rem;
  margin-right: auto;
}

.date {
  text-transform: uppercase;
}

/* blog */

.blog-tile {
  padding: 1.25em;
}

.blog-img {
  width: 100%;
  height: 56vw;
  border-radius: 3px;
  margin: 0 auto 0.875em;
  object-fit: cover;
}

.blog-date {
  font-size: 0.875rem;
}

.blog-title {
  color: #141414;
  margin: 0.3em 0;
}

.blog-summary {
  color: #505050;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background: #202020;
  font-size: 0.75rem;
}

.footer-name {
  color: #ececec;
  font-weight: 700;
}

.footer-copyright {
  color: #d7d7d7;
}

@media (min-width: 768px) {
  header p {
    font-size: 1.25rem;
  }
  nav ul li a {
    font-size: 1rem;
  }
  .featured-date,
  .blog-date {
    font-size: 1rem;
  }
  .featured-blog-title {
    font-size: 2.5rem;
  }
  .featured-blog-summary,
  .blog-summary {
    font-size: 1.125rem;
  }

  .blog-title {
    font-size: 2rem;
  }
  footer {
    font-size: 1rem;
  }

  .blogs {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 1.625em;
    padding: 3.3125em;
  }
  .blog-img {
    height: calc(56vw / 3);
  }
  .blog-tile {
    padding: 0;
  }
}
